{% load bboard_tags %}
{% load static %}
{% load thumbnail %}
{% load cloudinary %}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Селид">
    <meta name="keywords" content="Селид">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'bboard/images/main.ico' %}" type="image/x-icon/">
    <title>Селид - довідка про всі товари та послуги</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">



    <!-- Css Styles -->

    <link rel="stylesheet" href="{% static 'bboard/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bboard/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bboard/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bboard/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bboard/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bboard/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bboard/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'bboard/css/style.css' %}" type="text/css">
    
    <script src="{% static 'bboard/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bboard/js/bootstrap.min.js' %}"></script>
    {% comment %} <script src="{% static 'bboard/js/jquery.nice-select.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'bboard/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'bboard/js/jquery.slicknav.js' %}"></script>

</head>



<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <!-- <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div> -->
        <div class="humberger__menu__widget">
            <!-- <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div> -->
            <!-- <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div> -->

            {% if user.is_authenticated %}
            <div class="">
                <a href="#"><i class="fa fa-user"></i>{{ user.get_username }}</a>
            </div>
            <div class="">
                <a href="{% url 'logout' %}?next={{request.path}}">Вихід</a>
            </div>
            {% else %}
            <div class="">
                <a href="{% url 'bboard:login_user' %}?next={{request.path}}"><i class="fa fa-user"></i>Увійти</a>
                <!-- <a href="{% url 'bboard:register' %}?next={{request.path}}"><i class="fa fa-user"></i>Регистрация</a> -->
            </div>
            {% endif %}
            

        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class=""><a href="{% url 'bboard:index' %}">Головна</a></li>
                <!-- <li><a style="color:Tomato;" href="{% url 'bboard:product_categories' %}">Товари</a></li> -->
                <li><a href="{% url 'bboard:accounts' %}">Проєкти</a></li>
                {% if user.is_authenticated %}
                <li><a style="text-decoration: underline;" href="{% url 'bboard:articles' %}">FAQ</a></li>
                <li><a style="text-decoration: underline;" href="{% url 'bboard:my_accounts' %}">Мої проєкти</a></li>
                {% endif %}

                <!-- <li class="active"><a href="{% url 'bboard:index' %}">Home</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown"> -->
                        <!-- <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li> -->
                    <!-- </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li> -->
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <!-- <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a> -->
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> selyd.post@gmail.com</li>
                <li>Селид - довідка про всі товари та послуги</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> selyd.post@gmail.com</li>
                                <li>Селид - довідка про всі товари та послуги</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/selydsite"><i class="fa fa-facebook"></i></a>
                                <!--                                 <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a> -->
                            </div>
                            <!-- <div class="header__top__right__language">
                                <img src="img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div> -->
                            {% if user.is_authenticated %}
                            <div class="header__top__right__auth header__top__right__social">
                                <a href="#"><i class="fa fa-user"></i>{{ user.get_username }}</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="{% url 'logout' %}?next={{request.path}}">Вихід</a>
                            </div>
                            {% else %}
                            <div class="header__top__right__auth">
                                <a href="{% url 'bboard:login_user' %}?next={{request.path}}"><i class="fa fa-user"></i>Увійти</a>
                                <!-- <a href="{% url 'bboard:register' %}?next={{request.path}}"><i class="fa fa-user"></i>Регистрация</a> -->
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        {% get_logo as logos %}
                        {% for logo in logos %}
                        <a href="{% url 'bboard:index' %}"><img src="{{ logo.image.url }}" style="height: 40px; width: 40px;" alt=""></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            <li class=""><a href="{% url 'bboard:index' %}">Головна</a></li>
                            <!-- <li><a style="color:Tomato;" href="{% url 'bboard:product_categories' %}">Товари</a></li> -->
                            <li><a href="{% url 'bboard:accounts' %}">Проєкти</a></li>
                            <!-- <li><a href="#">Недвижимость</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Куплю</a></li>
                                    <li><a href="./shoping-cart.html">Продам</a></li>
                                    <li><a href="./checkout.html">Сдам</a></li>
                                    <li><a href="./checkout.html">Разместить объявление</a></li>
                                </ul>
                            </li> -->
                            {% if user.is_authenticated %}
                            <li><a style="text-decoration: underline;" href="{% url 'bboard:articles' %}">FAQ</a></li>
                            <li><a style="text-decoration: underline;" href="{% url 'bboard:my_accounts' %}">Мої проєкти</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div> -->
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->



    <!-- Hero Section Begin -->


    {% block hero_class %}
    <section class="hero">
        {% endblock %}
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Категорії</span>
                        </div>
                        {% get_categories as categories %}
                        <ul>
                            {% for category in categories %}
                            <li><a href="{% url 'bboard:category-subcategories' category.pk %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">

                    <div class="card">
                        <div class="card-body">
                            <h6>На сайті {% total_products %} товарів та послуг</h6>
                        </div>
                    </div>

                    <div class="hero__search">

                        <!-- <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div> -->




                        <!--                         <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                https://www.angularjswiki.com/fontawesome/fa-viber/
                                <i class="fab fa-viber fa-lg"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+380 66 000 00 00</h5>
                                <span>(только Telegram, Viber и Whatsapp сообщения)</span>
                            </div>
                        </div> -->
                    </div>
                    {% block banner %}
                    {% for top_banner in top_banners %}
                    <div class="hero__item set-bg" data-setbg="{{ top_banner.image.url }}">
                        <div class="hero__text">
                            <span>{{ top_banner.text_1}}</span>
                            <h2>{{ top_banner.text_2}}<br />{{ top_banner.text_3}}</h2>
                            <p>{{ top_banner.text_4}}</p>
                            <a href="{{ top_banner.account.get_absolute_url }}" class="primary-btn">{{ top_banner.text_5}}</a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    {% block content %}

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Топ-10 проєктів</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="categories__slider owl-carousel">
                    {% for project in top_10_projects %}
                    <div class="col-lg-3">
                        {% if project.image %}
                        <div class="categories__item set-bg" data-setbg="{{ project.image.url }}">
                        {% else %}
                        {% get_default_account_image as images %}
                        {% for image in images %}
                        <div class="categories__item set-bg"
                            data-setbg="{{ image.image.url }}">
                        {% endfor %}
                        {% endif %}
                            <h5><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Популярні товари та послуги</h2>
                    </div>
                    <!-- <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".oranges">Oranges</li>
                            <li data-filter=".fresh-meat">Fresh Meat</li>
                            <li data-filter=".vegetables">Vegetables</li>
                            <li data-filter=".fastfood">Fastfood</li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="row featured__filter">
                {% for product in products_popular %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                    <div class="featured__item">
                        {% if product.image %}
                        <div class="featured__item__pic set-bg" data-setbg="{{ product.image.url }}">
                        {% else %}
                        {% get_default_product_image as images %}
                        {% for image in images %}
                        <div class="featured__item__pic set-bg" data-setbg="{{ image.image.url }}"></div>
                        {% endfor %}
                        {% endif %}
                            <!-- <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul> -->
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                            {% if product.is_discount %}
                            <h5>Ціна: <s>{{ product.price }}</s> {{ product.new_price }} грн.</h5>
                            {% elif product.is_price %}
                            <h5>{{ product.price }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                {% for middle_banner in middle_banners %}
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <a href="{{ middle_banner.account.get_absolute_url }}"><img src="{{ middle_banner.image.url }}" style="height: 150px; width: 450px;" alt=""></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Нещодавно додані</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for product in products_recent %}
                                <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="">
                                        {% else %}
                                        {% get_default_product_image as images %}
                                        {% for image in images %}
                                        <img src="{{ image.image.url }}" alt="">
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ product.name }}</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% for product in products_recent2 %}
                                <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="">
                                        {% else %}
                                        {% get_default_product_image as images %}
                                        {% for image in images %}
                                        <img src="{{ image.image.url }}" alt="">
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ product.name }}</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Кращий вибір</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for product in products_best %}
                                <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ product.name }}</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% for product in products_best2 %}
                                <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ product.name }}</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Топ переглядів</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for product in products_top %}
                                <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ product.name }}</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% for product in products_top2 %}
                                <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ product.name }}</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <!-- <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>Свежее из блогов</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                for product in products_recent 
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% thumbnail product.image '500x0' %}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#"> product.name </a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                endfor 

            </div>
        </div>
    </section> -->
    <!-- Blog Section End -->

    {% endblock %}

    {% include 'pagination.html' with page=page_obj %}

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="{% thumbnail logo.image '192x45' %}" alt=""></a>
                        </div>
                        <ul>
                            <!-- <li>Address: 60-49 Road 11378 New York</li> -->
                            <!--                             <li>+380 66 000 00 00 (только Telegram, Viber и Whatsapp сообщения)</li> -->
                            <li>Email: selyd.post@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Корисні посилання</h6>
                        <ul>
                            {% get_footer_articles as articles %}
                            {% for article in articles %}
                            <li><a href="{{ article.get_absolute_url }}">{{ article.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <ul>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Ми у соціальній мережі</h6>
                        <p>Підписуйтесь на групу у Фейсбуці та стежте за новинами!</p>
                        <!-- <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form> -->
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/selydsite"><i class="fa fa-facebook"></i></a>
                            <!--                             <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    
    
    <script src="{% static 'bboard/js/mixitup.min.js' %}"></script>
    <script src="{% static 'bboard/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'bboard/js/main.js' %}"></script>



</body>

</html>